package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import ${mainPath}.modules.sys.dao.BaseDao;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 */
public interface ${className}Dao extends DAO<${className}, Integer> {
}
