<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sangame.datafilter.common.persistence.mapper.FilterRolePermissionMapper">

<resultMap type="com.sangame.datafilter.common.persistence.model.FilterRolePermission" id="FilterRolePermissionBaseMapper">
	<id property="id" column="id" />
	<id property="roleId" column="role_id" />
	<id property="permissionId" column="permission_id" />
	<id property="creator" column="creator" />
	<id property="modifier" column="modifier" />
	<id property="createdAt" column="created_at" />
	<id property="updatedAt" column="updated_at" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into filter_role_permission
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="roleId != null">
			role_id,
		</if>
		<if test="permissionId != null">
			permission_id,
		</if>
		<if test="creator != null">
			creator,
		</if>
		<if test="modifier != null">
			modifier,
		</if>
		<if test="createdAt != null">
			created_at,
		</if>
		<if test="updatedAt != null">
			updated_at,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="roleId != null">
			#{roleId},
		</if>
		<if test="permissionId != null">
			#{permissionId},
		</if>
		<if test="creator != null">
			#{creator},
		</if>
		<if test="modifier != null">
			#{modifier},
		</if>
		<if test="createdAt != null">
			#{createdAt},
		</if>
		<if test="updatedAt != null">
			#{updatedAt},
		</if>
	</trim>
</insert>

<update id="update">
	UPDATE filter_role_permission 
	<set>
			<if test="roleId != null">  
	        	role_id = #{roleId},
	    	</if>
			<if test="permissionId != null">  
	        	permission_id = #{permissionId},
	    	</if>
			<if test="creator != null">  
	        	creator = #{creator},
	    	</if>
			<if test="modifier != null">  
	        	modifier = #{modifier},
	    	</if>
			<if test="createdAt != null">  
	        	created_at = #{createdAt},
	    	</if>
			<if test="updatedAt != null">  
	        	updated_at = #{updatedAt},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from filter_role_permission where id=#{id}
</delete>

<select id="getById" resultMap="FilterRolePermissionBaseMapper">
	SELECT * FROM filter_role_permission WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from filter_role_permission  where 1=1 
			<if test="parm.roleId != null">
		     	and role_id = #{parm.roleId}
		   	</if>
			<if test="parm.permissionId != null">
		     	and permission_id = #{parm.permissionId}
		   	</if>
			<if test="parm.creator != null">
		     	and creator = #{parm.creator}
		   	</if>
			<if test="parm.modifier != null">
		     	and modifier = #{parm.modifier}
		   	</if>
			<if test="parm.createdAt != null">
		     	and created_at = #{parm.createdAt}
		   	</if>
			<if test="parm.updatedAt != null">
		     	and updated_at = #{parm.updatedAt}
		   	</if>
</select>

<select id="getListByParm" resultMap="FilterRolePermissionBaseMapper">
	select * from filter_role_permission where 1=1 
			<if test="parm.roleId != null">
		     	and role_id = #{parm.roleId}
		   	</if>
			<if test="parm.permissionId != null">
		     	and permission_id = #{parm.permissionId}
		   	</if>
			<if test="parm.creator != null">
		     	and creator = #{parm.creator}
		   	</if>
			<if test="parm.modifier != null">
		     	and modifier = #{parm.modifier}
		   	</if>
			<if test="parm.createdAt != null">
		     	and created_at = #{parm.createdAt}
		   	</if>
			<if test="parm.updatedAt != null">
		     	and updated_at = #{parm.updatedAt}
		   	</if>
		<if test="page!=null and page.pageSize>0">
			limit #{page.startRow},#{page.pageSize}
		</if>
		<if test="page!=null and page.orderBy != null">
			order by #{page.orderBy}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select * from filter_role_permission where 1=1 
</select>

<select id="getPerIdListByRoleId" parameterType="Long" resultType="Long">
	select permission_id from filter_role_permission where role_id =  #{roleId}
</select>

</mapper>