<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sangame.datafilter.common.persistence.mapper.FilterRoleMapper">

<resultMap type="com.sangame.datafilter.common.persistence.model.FilterRole" id="FilterRoleBaseMapper">
	<id property="id" column="id" />
	<id property="roleKey" column="role_key" />
	<id property="roleName" column="role_name" />
	<id property="remark" column="remark" />
	<id property="creator" column="creator" />
	<id property="modifier" column="modifier" />
	<id property="createdAt" column="created_at" />
	<id property="updatedAt" column="updated_at" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into filter_role
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="roleKey != null">
			role_key,
		</if>
		<if test="roleName != null">
			role_name,
		</if>
		<if test="remark != null">
			remark,
		</if>
		<if test="creator != null">
			creator,
		</if>
		<if test="modifier != null">
			modifier,
		</if>
		<if test="createdAt != null">
			created_at,
		</if>
		<if test="updatedAt != null">
			updated_at,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="roleKey != null">
			#{roleKey},
		</if>
		<if test="roleName != null">
			#{roleName},
		</if>
		<if test="remark != null">
			#{remark},
		</if>
		<if test="creator != null">
			#{creator},
		</if>
		<if test="modifier != null">
			#{modifier},
		</if>
		<if test="createdAt != null">
			#{createdAt},
		</if>
		<if test="updatedAt != null">
			#{updatedAt},
		</if>
	</trim>
</insert>

<update id="update">
	UPDATE filter_role 
	<set>
			<if test="roleKey != null">  
	        	role_key = #{roleKey},
	    	</if>
			<if test="roleName != null">  
	        	role_name = #{roleName},
	    	</if>
			<if test="remark != null">  
	        	remark = #{remark},
	    	</if>
			<if test="creator != null">  
	        	creator = #{creator},
	    	</if>
			<if test="modifier != null">  
	        	modifier = #{modifier},
	    	</if>
			<if test="createdAt != null">  
	        	created_at = #{createdAt},
	    	</if>
			<if test="updatedAt != null">  
	        	updated_at = #{updatedAt},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from filter_role where id=#{id}
</delete>

<select id="getById" resultMap="FilterRoleBaseMapper">
	SELECT * FROM filter_role WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from filter_role  where 1=1 
			<if test="parm.roleKey != null">
		     	and role_key = #{parm.roleKey}
		   	</if>
			<if test="parm.roleName != null">
		     	and role_name = #{parm.roleName}
		   	</if>
			<if test="parm.remark != null">
		     	and remark = #{parm.remark}
		   	</if>
			<if test="parm.creator != null">
		     	and creator = #{parm.creator}
		   	</if>
			<if test="parm.modifier != null">
		     	and modifier = #{parm.modifier}
		   	</if>
			<if test="parm.createdAt != null">
		     	and created_at = #{parm.createdAt}
		   	</if>
			<if test="parm.updatedAt != null">
		     	and updated_at = #{parm.updatedAt}
		   	</if>
</select>

<select id="getListByParm" resultMap="FilterRoleBaseMapper">
	select * from filter_role where 1=1 
			<if test="parm.roleKey != null">
		     	and role_key = #{parm.roleKey}
		   	</if>
			<if test="parm.roleName != null">
		     	and role_name = #{parm.roleName}
		   	</if>
			<if test="parm.remark != null">
		     	and remark = #{parm.remark}
		   	</if>
			<if test="parm.creator != null">
		     	and creator = #{parm.creator}
		   	</if>
			<if test="parm.modifier != null">
		     	and modifier = #{parm.modifier}
		   	</if>
			<if test="parm.createdAt != null">
		     	and created_at = #{parm.createdAt}
		   	</if>
			<if test="parm.updatedAt != null">
		     	and updated_at = #{parm.updatedAt}
		   	</if>
		<if test="page!=null and page.pageSize>0">
			limit #{page.startRow},#{page.pageSize}
		</if>
		<if test="page!=null and page.orderBy != null">
			order by #{page.orderBy}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select * from filter_role where 1=1 
</select>


</mapper>